/* reset */
html, body, h1, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
/* reset for IE8 */
section, article, aside, nav {
  display: block;
}
/* base */
html {
  padding: 1ex;
  background-color: #fdfdfd;
  background-image: linear-gradient(#011473, #285bbd, hsla(0,0%,50%,0));
  background-repeat: repeat-x;
}
body {
  color: #000;
  font: 100%/1.2 "";
}
/* banner */
[role=banner] {
  color: #c0c0c0;
}
/* window shape */
section, article, aside, nav {
  padding: 1ex;
  border: 1px solid #999999;
  background-color: #fdfdfd;
}
/* window caption */
section > h1:first-child,
article > h1:first-child,
aside > h1:first-child,
nav > h1:first-child {
  margin: -1ex -1ex 0 -1ex;
  padding: .5ex;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
  background-color: #eaeaea;
  background-image:
    linear-gradient(#fff 20%, hsla(0,0%,80%,.2), hsla(0,0%,50%,0));
}
section > h1:first-child:hover,
article > h1:first-child:hover,
aside > h1:first-child:hover,
nav > h1:first-child:hover {
  background-color: #f3f3f3;
}
/* window position */
body > section,
body > article,
body > aside,
body > nav {
  margin: 0 1ex 1ex 0;
  float: left;
}
/* @supports(not (display:flex)) { */
  /* window position */
  body {
    display: table;
    margin: auto;
  }
  /* banner position */
  [role=banner] {
    margin-bottom: .5ex;
  }
/* } */
@supports(display:flex) {
  /* window position */
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  /* banner position */
  [role=banner] {
    position: absolute;
    top: 0;
  }
  body {
    position: relative;
    padding-top: 3.3ex;
  }
}
/* blocks */
ul, dl,
section, article, aside, nav {
  margin: 1ex 0 0;
}
/* lists */
li {
  list-style-position: inside;
}
li:nth-of-type(2n) {
  background-color: #f3f3f3;
}
ul li {
  list-style-type: none;
}
dt {
  font-weight: bold;
}
/* links */
a {
  color: #0000dd;
  text-decoration: none;
}
a:visited {
  color: #7777dd;
}
a:hover {
  text-decoration: underline;
}
/* links with icon */
.applinks a {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.applinks a[href^="tools/color/"] {
  background-image: url(../tools/color/favicon.ico);
}
.applinks a[href^="tools/event/"] {
  background-image: url(../tools/event/favicon.ico);
}
.applinks a[href^="tools/jseval/"] {
  background-image: url(../tools/jseval/favicon.ico);
}
.applinks a[href^="tools/jstree/"] {
  background-image: url(../tools/jstree/favicon.ico);
}
.applinks a[href^="tools/kanaroma/"] {
  background-image: url(../tools/kanaroma/favicon.ico);
}
.applinks a[href^="tools/morse/"] {
  background-image: url(../tools/morse/favicon.ico);
}
.applinks a[href^="tools/unicode/"] {
  background-image: url(../tools/unicode/favicon.ico);
}
.applinks a[href^="tools/uri/"] {
  background-image: url(../tools/uri/favicon.ico);
}
