@charset "utf-8";
html {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
  background-color: #fff;
  background-image: url("../img/skygrad.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
}
body {
  margin: 3ex;
  padding: 3ex;
  border: solid #f0f0f0;
  font: normal normal normal medium/1.6 sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  background-color: #f0f0f0;
  padding: 0 1ex;
}
h1, h4 {
  border-left: 1ex solid #e88;
}
h2, h5 {
  border-left: 1ex solid #8c8;
}
h3, h6 {
  border-left: 1ex solid #a8c;
}
dt {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
strong strong {
  color: #d00;
}
