* {
  margin: 0;
  padding: 0;
  font: normal normal normal 100%/1.1 monospace;
}
html {
  padding: 1ex;
  background: #fff url("../img/skygrad.png") repeat-x fixed;
  background: #fff linear-gradient(#011473, #285bbd 30ex, #fff 60ex) repeat-x;
}
html body {
  margin: 0 auto;
  max-width: 30em;
  color: #000;
}
body, section {
  background-color: #fff;
  border: 1px solid silver;
}
section {
  margin: 1ex;
}
h1 {
  background: #c0c0c0;
  font-weight: bold;
}
li {
  list-style-position: inside;
}
dt {
  font-weight: bold;
}
a {
  color: #00f;
  text-decoration: underline;
}
a:visited {
  color: #800080;
}
a:hover {
  color: #000;
  background: #ff0;
}
