h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  background: #f3f3f3;
  border-color: #e3e3e3;
}
ul {
  list-style-image: url("../img/cube16.png");
}
h1:before {
  display: inline-block;
  margin: 0 1ex 0 0;
  padding: 0.5ex;
  border: 1px solid;
  color: #c0c0c0;
  background: #fff;
  font: normal normal normal xx-small/2 sans-serif;
  vertical-align: middle;
  content: "0mg";
}
