@charset "utf-8";
@import url("desktop.css") screen, tv, projection, print;
body {
  background-color: #f9f9f9;
  color: #310;
}
a {
  color: #30c;
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
a:hover {
  background-color: #feb;
}
